body{
    margin:0;
    padding: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: sans-serif;
    color: black;
}

.container {
    width: 30%;
    margin-top: 10%;
    margin-left: 32%;
    box-shadow: 0 3px 20px rgb(0, 0, 1, 2);
    padding: 30px;
}


.form-group{
    padding: 4px;
}
.btn{
    margin-bottom: 10px;
}

